<div class="nav-wrapper">
  <ng-container *ngIf="contextual; else horizontal">
      <button mat-mini-fab [matMenuTriggerFor]="appMenu" class="menu-button open-nav">
          <i class="material-icons">menu</i>
      </button>
      <mat-menu #appMenu="matMenu">
          <ng-container *ngFor="let element of menuElements">
              <a *ngIf="element.link.startsWith('http'); else standard" mat-button target="_blank" rel="noopener" href="{{element.link}}">
                  {{element.text}}
              </a>
              <ng-template #standard>
                  <a mat-raised-button routerLink="{{element.link}}">{{element.text}}</a>
              </ng-template>
          </ng-container>

      </mat-menu>
  </ng-container>

  <ng-template #horizontal>
      <ul class="right hide-on-med-and-down">
          <li *ngFor="let element of menuElements">
              <a *ngIf="element.link.startsWith('http'); else standard" btn-flat yellow lighten-5 target="_blank" rel="noopener" href="{{element.link}}">
                  {{element.text}}
              </a>
              <ng-template #standard>
                  <a btn-flat yellow lighten-5 routerLink="{{element.link}}">{{element.text}}</a>
              </ng-template>
          </li>

      </ul>
  </ng-template>
</div>
