@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "credentials";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

.content {
  padding: 0 25px;
}

body {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  background-size:cover;
  color: #333;
}

*:not(.material-icons), *:not(h1) {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif !important;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600 !important;
}
h3 {
  color: orange;
}
a {
  color: orange;
  text-decoration: none;
}

.service_worker_snack { // can be removed when https://github.com/angular/material2/pull/4045 will be merged
  position: absolute;
  bottom: 10px;
  left: 10px;
}
h1{
  font-family: 'Libre Baskerville', serif !important;
}
