@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
.logo-main{
  width: 75%;
  max-width: 450px;
  display: block;
  margin: -12vh auto 0 auto;
}
h1{
  font-family: 'Libre Baskerville', serif !important;
  margin-top: 0rem;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
li{
  display: inline-flex;
  padding: 10px 20px;
  font-size: 1.25em !important;
}
li{
  a {
  color: #333 !important;
  font-weight: 400;
  padding: 5px;
  transition: .3s all ease
  }
}
li {
  a{
    &:hover, &:active, &:focus{
      border-bottom: 1px solid #333;
      text-decoration: none;
  }
    &:not(:hover){
      color: #888 !important;
    }
}
}
