@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
.logo-main{
  width: 75%;
  max-width: 450px;
  display: block;
  margin: -12vh auto 0 auto;
}
h1{
  font-family: 'Libre Baskerville', serif !important;
  margin-top: 0rem;
}
h2 {
  font-family: 'Libre Baskerville', serif !important;
  font-size: 2.25rem;
}
h3 {
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  color: #333;
}
p{
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
a {
color: #333 !important;
font-weight: 400;
padding: 5px;
font-size: 1.25rem;
position: relative;
width: auto;
&:after{
  display: block;
  content: '';
  border-bottom: 1px solid #333;
  transform: scaleX(0);
  transition: .3s transform ease;
  width: inherit;
}
&:hover, &:active, &:focus{
  text-decoration: none;
}
&:hover:after, &:active:after, &:focus:after{
  transform: scaleX(1);
}
&:not(:hover){
  color: #888 !important;
}
}
