<div class="row">
  <h1 class="center">Web</h1>
  <p class="center">These are examples of web and UX/UI projects created using HTML5, CSS3, Angular, and Material Design.</p>
  <div class="row">
    <div class="col l5 offset-l1 m4 s12" style="padding: 60px;">
      <ng-container *ngFor="let element of webElements">
      <h2>{{element.title}}</h2>
      <video class="responsive-video">
        <source src="{{element.asset}}" type="video/mp4">
      </video>
      <h3>{{element.subheader}}</h3>
      <p>{{element.text}}</p>
      <br>
      </ng-container>
    </div>
    <div class="col l5 m4 s12" style="padding: 60px;">
    <ng-container *ngFor="let element of webElements2">
      <h2>{{element.title}}</h2>
      <video class="responsive-video">
        <source src="{{element.asset}}" type="video/mp4">
      </video>
      <h3>{{element.subheader}}</h3>
      <p>{{element.text}}</p>
      <br>
      </ng-container>
      </div>
  </div>
</div>
